.cartshop {
    margin: 10px 100px;
    padding-top: 110px;
}

.cartshop h2 {
    font-size: 30px;
}

.cart-main {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    max-width: 1800px;
    align-items: center;
    gap: 100px;
    padding: 5px 0px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.cartitem-format {
    font-size: 20px;
    font-weight: 500;
}

.cart-icon {
    height: 140px;
}

.quantity {
    margin-left: 25px;
}



.addandremove {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    font-size: 24px;
}

.cart-below {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.total2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.total-item {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
}

.button-total {
    width: 260px;
    height: 60px;
    outline: none;
    border: none;
    background: rgb(196, 44, 44);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 50px;
}

.button-dis {
    width: 100px;
    height: 40px;
    margin-left: 15px;
    border-radius: 10px;
    color: black;
    background: rgb(199, 199, 199);
}

.cart-codediscount {
    flex: 1;
    font-size: 15px;
    font-weight: 500;
}

.cart-codediscount p {
    color: rgb(80, 80, 80);
}

.boxdiscount {
    width: 500px;
    margin-top: 15px;
    height: 60px;
    background: white;
}

.boxdiscount input {
    border: 1px solid #8f8f8f;
    outline: none;
    color: #5c5c5c;
    border-radius: 10px;
    background: transparent;
    font-size: 15px;
    width: 350px;
    height: 40px;
}

.shipping-form {
    flex: 1;
}

.shipping-form h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.shipping-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.shipping-form button {
    padding: 14px;
    background-color: rgb(196, 44, 44);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 300px;
}
