.container {
    display: flex;
}

.sidebar {
    position: fixed; 
    top: 130px;
    left: 20px; 
    width: 200px; 
    height: 300px; 
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    background-color: white;
    /* z-index: 100; 
    margin-bottom: 20px;
}

.sidebar-menu {
    /* display: flex; */
    margin-left: 20px;
    flex-direction: column;
    list-style: none;
    font-size: 15px;
    
    input{
        margin-right: 10px;
        margin-bottom: 5px;
    }
}

.sidebar-menu li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.sidebar-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 20px;
    background: black;
}

.content {
    margin-left: 241px; 
    padding: 100px;
    flex: 1;
    overflow: hidden;
    box-shadow:0 10px 1px black;
    
}

.fruit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 50px; */
    margin-top: 50px;
}

.fruit h1 {
    color: black;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 550;
}

.fruit hr {
    width: 500px;
    height: 0.5px;
    border-radius: 10px;
    background: #252525;
    margin-bottom: 0;
}

@media (max-width: 1280px) {
    .sidebar {
        padding: 12px;
    }
    .sidebar-menu {
        gap: 30px;
        font-size: 16px;
    }
}
