.user-page {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh; 
    background-color: #f5f5f5; 
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    margin: 50px 20px; 
    background-color: #afafaf; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
  }
  
  .user-info label {
    margin-top: 10px;
  }
  
  .user-info input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .user-info button {
    width: 150px;
    height: 50px;
    color: white;
    background: rgb(0, 0, 0);
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .bills {
    flex: 1; 
    margin: 50px 20px; 
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    padding: 20px;
  }
  
  .bills h2 {
    margin-bottom: 20px;
  }
  
  .bills-column {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    max-width: 2200px;
    align-items: center;
    gap: 20px; 
    padding: 5px 0px;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
  
  .bill-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    gap: 10px; 
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    border-top: 1px solid #ccc;
  }
  
  .bill-row p {
    margin: 0;
  }
  
  .bill-row > div {
    display: flex;
    flex-wrap: wrap;
  }
  
  .bill-row > div p {
    margin-right: 10px;
  }
  