.productpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px 20px;
    max-width: 1200px;
}

.productpage-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.productpage-img img {
    width: 100%;
    max-width: 380px;
    height: auto;
    object-fit: cover;
}

.productpage-right {
    flex: 1;
    margin-bottom: 40px;
    margin-top: 50px;
}

.productpage-star {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.productpage-price {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-weight: bold;
    gap: 10px;
}

.old-price {
    text-decoration: line-through;
    color: gray;
}

.product-mota {
    margin: 20px 0;
}

.product-size {
    margin: 20px 0;
}

.product-size .size {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(91, 176, 255);
}

.add-category {
    margin-top: 10px;
    font-style: italic;
    color: gray;
}

.size div {
    padding: 10px 15px;
    background: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 10px;
    cursor: pointer;
}

.review-form {
    margin-top: 30px;
}

.review-form h2 {
    margin-bottom: 10px;
}

.review-form label {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
}
.mail-re{
    margin-left: 10px;
    padding: 5px 15px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.review-form textarea {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.review-table {
    margin-top: 30px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.review-table table {
    width: 100%;
    border-collapse: collapse;
}

.review-table th, .review-table td {
    border: 1px solid #dbdbdb;
    padding: 8px;
    text-align: left;
}

.review-table th {
    background-color: #ffffff;
}
.option{
    padding: 5px 15px;
    border: 1px solid #000000;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .productpage {
        flex-direction: column;
        padding: 20px;
    }

    .productpage-left, .productpage-right {
        width: 100%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
    
    .review-table {
        padding: 0 10px;
    }
}
