.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    background: linear-gradient(180deg, rgb(219, 219, 219) 0%, #e1ffea22 60%);
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    img {
        width: 150px; 
        height: 120px; 
    }
    p{
        color: #383838;
        font-size: 35px;
        font-weight: 600;
    }
}
.footer hr {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #9f9f9f;
    margin: 0 0;
}
.footer-link{
    display: flex;
    list-style: none;
    gap: 40px;
    color: #252525;
    font-size: 18px;
    
}
.footer-link li{
    cursor: pointer;
}
.footer-icon{
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.icon-container{
    padding: 10px;
    padding-bottom: 10px;
    background: white;
    border: 5px solid white;
    transition: transform 0.3s;
}
.icon-container svg { 
    width: 40px; 
    height: 40px; 
    color: #252525; 
}
.cpbl{
    font-size: 13px;
    margin-bottom: 0%;
}